"*":
  core:
    disabledPackages: [
      "autocomplete-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 12
  "exception-reporting":
    userId: "8cf28f40-b624-431b-9325-4e856eafa702"
  "linter-ui-default":
    panelHeight: 300
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
